<h3 class="makeBlue">Create a New Account</h3>

<h4 class="makeBlue"><%= message %></h4>
<section class="create_account">
    <form action="/users" method="post">
        <fieldset>
            <p><label for="">User Name:</label>
            <input type="text" name="username"></p>
            <p><label for="">Artist Name:</label>
            <input type="text" name="user_name"></p>
            <p><label for="">Your City:</label>
            <input type="text" name="location"></p>
            <p><label for="">Email:</label>
            <input type="text" name="email"></p>
            <p><label for="">Password:</label>
            <input type="password" name="password"></p>
            <button>SUBMIT</button>
        </fieldset>
    </form>
</section>
