<h3>Create a New Account</h3>

<h4><%= message %></h4>

<form action="/users" method="post">
    <label for="">Name you would like to organise Gigs under:</label>
    <input type="text" name="username">
    <label for="">Your City</label>
    <input type="text" name="location">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>SUBMIT</button>
</form>
