<h2 class="makeBlue">Login</h2>

<h4 class="makeBlue"><%= message %></h4>
<section class="login_form">
    <form action="/sessions" method="post" class="login_fieldset">
        <p><label for="">email</label>
        <input type="text" name="email"></p>

        <p><label for="">password</label>
        <input type="password" name="password"></p>

        <button>login</button>
    </form>
</section>